main {
    text-align: center;
    display: grid;
    grid-template-rows:  17rem 3rem 1fr;
    grid-template-areas: 
    "image-header "
    'info-module '
    'info-details';
    max-width: 1100px;
    min-height: 47rem;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    border: solid white;
    background-color: white;
}

.links {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.links:hover {
    border: black;
}

#info-details {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.description {
    color: black;
    background-color: rgba(211, 211, 211, 0.303);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
    margin: 1rem;
    padding: 1rem;
    border: solid thin;
    max-width: 25rem;
}

@media screen and ( max-width:600px) {
    main {
        font-family: 'Josefin Sans', sans-serif;
        min-height: 35rem;
    }
}